<div class="card" >
    <div class="card-body">
      <h2 class="card-title">Order Summary </h2>
      <p class="card-text">You have {{cart.totalItemsCount}} items in your shopping cart</p>
      <ul class="list-group list-group-flush">
        <li *ngFor="let item of cart.items" class="list-group-item">
            {{item.quantity}} X {{item.title}}
            <div class="float-end">
                {{item.totalPrice | currency}}
            </div>
        </li>
        <li class="list-group-item fw-bold">
            Total
            <div class="float-end">
                {{ cart.totalPrice | currency }}
            </div>
        </li>
      </ul>
    </div>
</div>




  
